.bloc-article {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing-xl);
        @media screen and (max-width: $breakpoint-lg) {
            gap: var(--spacing-lg);
            @media screen and (max-width: $breakpoint-md) {
                grid-template-columns: 1fr;
            }
        }

        ul {
            margin: 0;
        }
        span {
            font-weight: 650;
        }
        .main-content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            border-radius: 30px;
            padding: var(--spacing-xl) var(--spacing-lg);
            height: fit-content;
            background-color: var(--color-white);
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
            @media screen and (max-width: $breakpoint-sm) {
                padding: var(--spacing-lg) var(--spacing-sm);
                gap: var(--spacing-md);
            }
            .module {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-lg);
                &.extra-space {
                    padding: var(--spacing-md) 0 0 0;
                }
                &.separator::after {
                    content: '';
                    border: 1px solid var(--color-gray);
                }
                @media screen and (max-width: $breakpoint-sm) {
                    gap: var(--spacing-md);
                }
            }
            h5 {
                font-weight: 650;
            }
            .module-header {
                .module-header-section {
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-sm);
                    .icon {
                        color: var(--color-primary);
                    }
                }
            }
            .contact_grid {
                grid-template-columns: 1fr;
            }
        }
        .sidebar {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            .module-side {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-md);
                border-radius: 30px;
                padding: var(--spacing-xl) var(--spacing-lg);
                background-color: var(--color-white);
                box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

body:has(> .bloc-article) {
    background-color: var(--color-gray);
}

// article nouvelle
.nouvelle {
    .module-header {
        .sous-titre {
            display: flex;
            align-items: center;
            gap: var(--spacing-lg);
            .btn_full {
                border-radius: 50px;
                padding: 10px 40px;
            }
        }
        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    .cards-nouvelles {
        grid-template-columns: 1fr;
        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr 1fr;
            @media screen and (max-width: $breakpoint-sm) {
                grid-template-columns: 1fr;
            }
        }
        .card {
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
        }
        .card__content {
            background-color: var(--color-white);
            .btn_full {
                background-color: var(--color-black);
                color: var(--color-white);
            }
        }
    }
}

// article service
.service-single {
    .grid-container {
        grid-template-columns: 1fr 2fr;
        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
        }
        h6 {
            font-weight: 650;
        }
        .main-content {
            order: 2;
            @media screen and (max-width: $breakpoint-md) {
                order: 1;
            }
            .product {
                display: grid;
                grid-template-columns: 1fr 1fr;
                @media screen and (max-width: $breakpoint-md) {
                    grid-template-columns: 1fr;
                }
                .product__media {
                    img {
                        aspect-ratio: 1/1.1;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }
                .product__content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: var(--spacing-md);
                    .content-module {
                        display: flex;
                        flex-direction: column;
                        gap: var(--spacing-sm);
                        .champTexte {
                            padding: var(--spacing-sm) var(--spacing-sm);
                            border-radius: 15px;
                            border: none;
                            background-color: var(--color-gray);
                        }
                        &.acheter {
                            flex-direction: row;
                            align-items: center;
                            .panier {
                                border-radius: 15px;
                                padding: var(--spacing-sm);
                                background-color: var(--color-black);
                                color: var(--color-white);
                            }
                        }
                    }
                }
            }
            .carateristics {
                .caracteristics-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: var(--spacing-md);
                    @media screen and (max-width: $breakpoint-md) {
                        grid-template-columns: 1fr;
                    }
                }
                .caracteristic {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-sm);
                }
            }
        }
        .sidebar {
            order: 1;
            @media screen and (max-width: $breakpoint-md) {
                order: 2;
            }
        }
    }
}
