// styles pour le bloc texte - informations
.informations {
    .wrapper {
        display: grid;
        gap: 120px;

        .infos__media {
            position: sticky;
            top: 5%;
            height: 870px;
            border-radius: 30px;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .infos__content {
            display: flex;
            flex-direction: column;
            gap: 45px;
            align-items: flex-start;
            p {
                width: 75%;
                font-weight: 600;
            }
        }
    }

    // classes pour les options du bloc d'informations
    &.right {
        .wrapper {
            grid-template-columns: 6fr 4fr;
        }
        .infos__media {
            order: 2;
        }
    }

    &.left {
        .wrapper {
            grid-template-columns: 4fr 6fr;
        }
        .infos__media {
            order: -1;
        }
    }
}

.push {
    .wrapper {
        background-color: var(--color-primary);
        color: var(--color-inactive);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: var(--spacing-md);
        }
        padding: 40px;
        .push_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            gap: 30px;
            .titre {
                width: fit-content;
                position: relative;
                .underline {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: scale(500%) translateY(10%) translateX(-30%);
                    color: var(--color-interactive);
                }
                h4 {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
            p {
                font-weight: 500;
                max-width: 70%;
            }
            a {
                padding: 10px 30px;
                text-transform: none;
                background-color: var(--color-black);
            }
        }
        .push_media {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-radius: 30px;
            object-fit: cover;
            overflow: hidden;
        }
    }
}

// styles pour le bloc - double push
.doublePush {
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $breakpoint-sm) {
            flex-direction: column;
            gap: var(--spacing-lg);
        }
    }
    .tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
        @media screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr;
            @media screen and (max-width: $breakpoint-sm) {
                align-self: center;
            }
        }
        .tile {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--spacing-xl);
            aspect-ratio: 500/450;
            border-radius: 30px;
            padding: var(--spacing-md);
            color: var(--color-white);
            background-color: var(--color-primary);
            .title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .icon {
                align-self: flex-end;
                font-size: 3.5rem;
                color: var(--color-black);
                &:hover {
                    background-color: var(--color-white);
                }
            }
            &:hover {
                background-color: var(--color-black);
            }
        }
    }
}

// styles pour le bloc - contentSwiper
.contentSwiper {
    background-color: var(--color-black);
    color: var(--color-white);
    .wrapper {
        display: grid;
        grid-template-columns: 5fr 7fr;
        gap: var(--spacing-lg);
        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: $breakpoint-md) {
            width: 75%;
            gap: var(--spacing-md);
            @media screen and (max-width: $breakpoint-md) {
                gap: var(--spacing-lg);
            }
        }
        .infos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-lg);
            @media screen and (max-width: $breakpoint-lg) {
                gap: var(--spacing-md);
            }
        }
    }
    .btn_nav {
        position: relative;
        width: 100%;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: baseline;
        gap: var(--spacing-lg);
        @media screen and (max-width: $breakpoint-md) {
            margin: 0;
        }
        .swiper-button-next,
        .swiper-button-prev {
            position: relative;
            width: 100px;
            height: 100px;
            @media screen and (max-width: $breakpoint-md) {
                width: 75px;
                height: 75px;
                @media screen and (max-width: $breakpoint-md) {
                    width: 50px;
                    height: 50px;
                }
            }
            &::after {
                display: none;
            }
            .icon {
                padding: var(--spacing-md);
                @media screen and (max-width: $breakpoint-md) {
                    padding: var(--spacing-sm);
                }
            }
        }
        .swiper-button-prev {
            transform: rotate(180deg);
        }
    }
    .swiper {
        margin-right: -50%;
        width: 150%;
        min-width: 0;
        @media screen and (max-width: $breakpoint-md) {
            width: 175%;
            @media screen and (max-width: $breakpoint-sm) {
                width: 200%;
            }
        }
        .swiper-slide {
            aspect-ratio: 1.95/2;
        }
        .card {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);
            padding: 30px;
            height: 100%;
            background-color: white;
            color: var(--color-black);
            border-radius: 30px;
            .card__media img {
                border-radius: 20px;
                display: block;
            }
            .card__content {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
            }
            .title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--spacing-sm);
                h4 {
                    font-weight: 600;
                }
            }
        }
    }
}

// styles pour le bloc - contentSwiper
.fullGallerySwiper {
    .swiper {
        width: 100%;
        border-radius: 50px;
        margin: 0;
        position: relative;

        .swiper-slide {
            height: 75vh;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .swiper-pagination {
            --swiper-pagination-color: var(--color-black);
            --swiper-pagination-bullet-inactive-color: var(--color-white);
            --swiper-pagination-bullet-size: 20px;
            --swiper-pagination-bullet-horizontal-gap: 10px;
            --swiper-pagination-bullet-inactive-opacity: 1;

            position: absolute;
            bottom: var(--spacing-md);
            .swiper-pagination-bullet {
                border: 5px solid var(--color-white);
            }
        }
    }
}
