// .cards {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     gap: 50px;
//     a {
//         color: inherit;
//     }
//     .card {
//         border: 4px solid var(--color-primary);
//         border-radius: 30px;
//         // box-shadow: none;
//         cursor: pointer;

//         .card__content {
//             padding: 20px;
//             h3 {
//                 font-family: 'Poppins', sans-serif;
//                 font-weight: 700;
//             }
//             p {
//                 font-size: 16px;
//             }
//             p.category {
//                 color: var(--color-primary);
//             }
//         }
//     }
//     .card:hover {
//         box-shadow: 0 0 20px var(--color-black);
//         //changer les styles selon ce qu'on veut
//     }
// }

// ----- Accueil section nouvelles ----- //
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-md);

    background: transparent;
    position: relative;
    .tag {
        position: absolute;
        top: 25px;
        right: 25px;
        font-weight: 600;
        z-index: 2;
        padding: 7px 26px;
        background-color: var(--color-primary);
    }

    @media screen and (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;
        }
    }
    .card {
        // aspect-ratio: 1/1;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        display: grid;
        grid-template-rows: 1.5fr 1fr;
        //height: fit-content;
        .card__media {
            z-index: 1;
            width: 100%;
            height: 100%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: all 0.5s $ease-out-cubic;
                aspect-ratio: 1.5/1;
            }
        }
        .card__content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: var(--spacing-md);
            height: fit-content;
            width: 100%;
            height: 100%;
            background-color: var(--color-terciary);
            z-index: 3;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .text {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h5 {
                    font-weight: 600;
                }
            }
            .btn_full {
                color: var(--color-black);
            }
        }
        &:hover {
            .fleche1 {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
            .fleche2 {
                transform: translateX(200%);
                opacity: 0;
            }
            .card__media img {
                transform: scale(1.05);
            }
        }
    }
}

.nouvelles {
    background-color: var(--color-black);
    color: var(--color-white);
    .fleche-container {
        margin: 0;
    }
}

.bloc-article .cards {
    grid-template-columns: 1fr;
    .card {
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
        .tag {
            color: var(--color-black);
            background-color: var(--color-white);
        }
        .card__content {
            background-color: var(--color-white);
            a:has(.fleche-container) {
                background-color: var(--color-black);
                color: var(--color-white);
                .fleche-container {
                    margin: 0;
                }
            }
        }
    }
}
