.carrieres {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing-xl);
        @media screen and (max-width: $breakpoint-lg) {
            gap: var(--spacing-lg);
            @media screen and (max-width: $breakpoint-md) {
                grid-template-columns: 1fr;
            }
        }

        ul {
            margin: 0;
        }
        span {
            font-weight: 650;
        }
        .main-content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            border-radius: 30px;
            padding: var(--spacing-xl) var(--spacing-lg);
            background-color: var(--color-white);
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
            .module {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-lg);
                &.extra-space {
                    padding: var(--spacing-md) 0 0 0;
                }
                &.separator::after {
                    content: '';
                    border: 1px solid var(--color-gray);
                }
            }
            h5 {
                font-weight: 650;
            }
            .module-header {
                .module-header-section {
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-sm);
                    .icon {
                        color: var(--color-primary);
                    }
                }
            }
            .contact_grid {
                grid-template-columns: 1fr;
            }
        }
        .sidebar {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            .module-side {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-md);
                border-radius: 30px;
                padding: var(--spacing-xl) var(--spacing-lg);
                background-color: var(--color-white);
                box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

body:has(> .carrieres) {
    background-color: var(--color-gray);
}
