.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        padding: 95px 0;
    }
    li {
        list-style: none;
    }
    a {
        transition: all 0.3s ease-out;
    }

    .principal {
        ul {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            padding: 0;
            margin: 0;
            li {
                margin: -20px 0;
                a {
                    font-size: var(--font-size-h3);
                    text-transform: uppercase;
                    font-weight: 900;
                }
            }
        }
    }

    .secondary {
        ul {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            padding: 0;
            margin: 0;
            li {
                margin: -20px 0;
                a {
                    font-size: var(--font-size-h6);
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }

    .copyright {
        max-width: 400px;
    }
}
