.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li {
        list-style: none;
    }

    .principal {
        a {
            font-size: var(--font-size-h3);
            text-transform: uppercase;
            font-weight: 900;
        }
    }
}
