.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    overflow: hidden;
    border-radius: 50px 50px 0 0;
    // position: sticky;
    // bottom: 0;
    // left: 0;
    // z-index: 2;
    width: 100%;
    p {
        font-size: #{typo(14px, 20px)};
    }
    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 100px;
        padding-top: 95px;
        padding-bottom: 95px;
        @media screen and (max-width: 1750px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 5%;
        }
        @media screen and (max-width: 830px) {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 20% 0;
            padding-bottom: 5%;
        }
        @media screen and (max-width: $breakpoint-sm) {
            gap: 40px;
        }
    }
    li {
        list-style: none;
        width: max-content;
    }
    a {
        transition: all 0.3s ease-out;
        width: max-content;
        &:hover {
            color: var(--color-white);
            opacity: 50%;
        }
    }

    .principal {
        ul {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            padding: 0;
            margin: 0;
            @media screen and (max-width: 830px) {
                gap: 40px;
            }
            li {
                margin: -20px 0;
                a {
                    font-size: #{typo(45px, 80px)};
                    text-transform: uppercase;
                    font-weight: 900;
                }
            }
        }
    }

    .secondary {
        ul {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 0;
            padding: 0;
            margin: 0;
            li {
                a {
                    font-size: var(--font-size-h6);
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }

    .sociaux {
        height: fit-content;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        @media screen and (max-width: $breakpoint-sm) {
            flex-direction: row;
            align-items: center;
        }
        .inscription {
            display: flex;
            flex-direction: column;
            a.subscribe {
                font-weight: 400;
                text-transform: none;
                text-decoration: underline;
                margin-top: 20px;
                @media screen and (max-width: $breakpoint-sm) {
                    margin: 0;
                }
            }
        }

        .social {
            display: flex;
            align-items: flex-start;

            flex-direction: column;
            a {
                font-weight: 600;
                text-transform: none;
                //font-size: 25px;
                text-decoration: underline;
                letter-spacing: 1px;
            }
            @media screen and (max-width: $breakpoint-sm) {
                order: -1;
            }
        }
    }

    .copyright {
        //max-width: 400px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;

        .contact {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;
        }

        .credits {
            display: flex;
            gap: 40px;
            a {
                font-weight: 400;
                text-transform: none;
                text-decoration: none;
            }
            @media screen and (max-width: 830px) {
                flex-direction: column;
                gap: 20px;
            }
            @media screen and (max-width: $breakpoint-sm) {
                flex-direction: row;
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            gap: 10px;
            .contact {
                gap: 10px;
            }
            .credits {
                gap: 30px;
            }
        }
    }

    .passion {
        margin-bottom: -35px;
        h1 {
            font-size: #{typo(40px, 170px)};
            color: gray;

            @media screen and (max-width: 830px) {
                flex-direction: column;
                gap: 20px;
            }
        }
        span {
            position: relative;
            .icon {
                color: var(--color-interactive);
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scale(150%);
                width: 100%;
            }
        }

        @media screen and (max-width: 1225px) {
            margin-bottom: -10px;
        }

        @media screen and (max-width: 415px) {
            margin: 0;
        }
    }
}

.background {
    background-color: var(--color-white);
    position: relative;
    padding-bottom: 200px;
    //display: grid;
    width: 100%;
    gap: 180px;
}

.reveal_footer {
    background: rgba($color: #000000, $alpha: 0);
    display: block;
    height: 80vh;
}
