/* ==========================================================================
   header / component
   ========================================================================== */

.header {
    //changer ici pour les paramètres principaux de positionnement
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: fixed;
    top: 0;

    z-index: 10;
    transition: transform 0.4s $ease-out-expo;

    border-radius: 20px;

    &::before {
        z-index: 2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: $breakpoint-lg) {
        padding: 0 var(--spacing-lg);
    }

    .header-is-hidden.is-scrolling-down:not(.nav-is-active) & {
        transform: translateY(-100%) translateY(10px);
    }
}

.header {
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.header__brand {
    max-width: 200px;
    position: relative;
    z-index: 10;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 15px 90px;
    margin-top: 20px;
    @media screen and (max-width: $breakpoint-xs) {
        padding: 15px 20px;
    }
}

.nav-primary {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-bg-secondary);
    padding-top: 120px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    transform: translateX(-100%);
    transition: all 0.6s $ease-out-expo;
    // opacity: 0;

    .nav-is-active & {
        transform: translateX(0);
        opacity: 100%;
        // z-index: 999;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 40px;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 1.2s $ease-out-expo;

        .nav-is-active & {
            transform: translateX(0);
        }

        // styles liens header
        a {
            text-align: center;
            display: block;
            font-size: 20px; // taille géénérique, ajuster selon les goûts
            color: var(--color-black);
            font-weight: 700;
        }
    }

    display: block;
    overflow-x: visible;
    background: unset;
    position: relative;
    z-index: 2;
    height: auto;
    width: auto;
    padding-top: 0;
    transform: translateX(0);

    ul {
        flex-direction: row;
        transform: translateX(0);
    }
}

.nav-primary__item {
    font-size: var(--font-size-content);
    color: var(--color-black);

    position: relative;

    &:hover {
        color: inherit;
    }

    @media screen and (min-width: $breakpoint-md) {
        font-size: var(--font-size-h2);
        color: var(--color-black);
        position: relative;
        text-transform: none;

        // le before c'est une ligne qui show up au hover
        // &::before {
        //     display: block;
        //     position: absolute;
        //     top: 100%;
        //     left: 0;
        //     height: 2px;
        //     width: 100%;
        //     content: '';
        //     background-color: white;
        //     transform: scaleX(0);
        //     transition: 0.3s all;
        // }

        &:hover {
            text-decoration: none;
            color: var(--color-primary);
            // &::before {
            //     transform: scaleX(1);
            // }
        }
    }
}

//styles du bouton menu
.header__toggle {
    --bar-height: 4px;
    --bar-spacer: 4px;
    --bar-width: 40px;
    @media screen and (max-width: $breakpoint-xs) {
        --bar-height: 4px;
        --bar-spacer: 2px;
        --bar-width: 35px;
    }

    background-color: transparent !important; /* Assure que le fond reste toujours transparent */

    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: calc(var(--bar-height) * 3 + var(--bar-spacer) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--bar-spacer);
}

.header__toggle span {
    background-color: var(--color-black);
    border-radius: 3px;
    height: var(--bar-height);
    width: var(--bar-width);
    position: absolute;
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
}

.header__toggle span:nth-child(1) {
    transform: translateY(calc(-1 * (var(--bar-height) + var(--bar-spacer))));
}

.header__toggle span:nth-child(2) {
    transform: translateY(calc(var(--bar-height) + var(--bar-spacer)));
}

.header__toggle.is-active span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header__toggle.is-active span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.nav-is-active body {
    overflow: hidden;
}

.header {
    position: sticky;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: none;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
        @media screen and (max-width: $breakpoint-xs) {
            gap: 15px;
        }
    }
}

//Styles pour le bouton inscription
.bouton_inscription {
    background-color: var(--color-interactive);
    padding: 10px 28px;
    border-radius: 10px;
    transition: 0.3s;
    @media screen and (max-width: $breakpoint-xs) {
        display: none;
    }
}
.nav-primary .bouton_inscription a {
    color: var(--color-white);
}
.bouton_inscription:hover {
    opacity: 0.7;
    transition: 0.3s;
}

// Styles pour la barre de recherche

.search-bar {
    display: none;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.search-bar.active {
    display: block;
}

// Style pour le logo

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Style pour les icones
.menu svg {
    transition: 0.2s;
}
.menu svg:hover {
    opacity: 0.7;
    transition: 0.2s;
}
