.header {
    //changer ici pour les paramètres principaux de positionnement
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: fixed;
    top: 0;

    z-index: 1002; // Plus élevé que le menu (1001) et l'overlay (999)
    transition: transform 0.4s $ease-out-expo;

    border-radius: 20px;

    &::before {
        z-index: 2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: $breakpoint-lg) {
        padding: 0 var(--spacing-lg);
    }

    .header-is-hidden.is-scrolling-down:not(.nav-is-active) & {
        transform: translateY(-100%) translateY(10px);
    }
}

.header {
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.header__brand {
    max-width: 200px;
    position: relative;
    z-index: 10;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 15px 90px;
    margin-top: 20px;
    @media screen and (max-width: $breakpoint-xs) {
        padding: 15px 20px;
    }
}

.nav-primary {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-bg-secondary);
    padding-top: 120px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    transform: translateX(-100%);
    transition: all 0.6s $ease-out-expo;
    // opacity: 0;

    .nav-is-active & {
        transform: translateX(0);
        opacity: 100%;
        // z-index: 999;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 40px;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 1.2s $ease-out-expo;

        .nav-is-active & {
            transform: translateX(0);
        }

        // styles liens header
        a {
            width: fit-content;
            text-align: center;
            display: block;
            font-size: 20px; // taille géénérique, ajuster selon les goûts
            color: var(--color-black);
            font-weight: 700;
        }
    }

    display: block;
    overflow-x: visible;
    background: unset;
    position: relative;
    z-index: 2;
    height: auto;
    width: auto;
    padding-top: 0;
    transform: translateX(0);

    ul {
        flex-direction: row;
        transform: translateX(0);
    }
}

.nav-primary__item {
    font-size: var(--font-size-content);
    color: var(--color-black);

    position: relative;

    &:hover {
        color: inherit;
    }

    @media screen and (min-width: $breakpoint-md) {
        font-size: var(--font-size-h2);
        color: var(--color-black);
        position: relative;
        text-transform: none;

        // le before c'est une ligne qui show up au hover
        // &::before {
        //     display: block;
        //     position: absolute;
        //     top: 100%;
        //     left: 0;
        //     height: 2px;
        //     width: 100%;
        //     content: '';
        //     background-color: white;
        //     transform: scaleX(0);
        //     transition: 0.3s all;
        // }

        &:hover {
            text-decoration: none;
            color: var(--color-primary);
            // &::before {
            //     transform: scaleX(1);
            // }
        }
    }
}

.nav-primary :nth-child(3) {
    @media screen and (max-width: $breakpoint-md) {
        display: none;
    }
    @media screen and (max-width: $breakpoint-sm) {
        display: none;
    }
    @media screen and (max-width: $breakpoint-xs) {
        display: none;
    }
}

//styles du bouton menu
.header__toggle {
    --bar-height: 4px;
    --bar-spacer: 3px;
    --bar-width: 35px;
    @media screen and (max-width: $breakpoint-xs) {
        --bar-height: 4px;
        --bar-spacer: 2px;
        --bar-width: 35px;
    }

    background-color: transparent !important; /* Assure que le fond reste toujours transparent */

    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: calc(var(--bar-height) * 3 + var(--bar-spacer) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--bar-spacer);
}

.header__toggle span {
    background-color: var(--color-black);
    border-radius: 3px;
    height: var(--bar-height);
    width: var(--bar-width);
    position: absolute;
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
}

.header__toggle span:nth-child(1) {
    transform: translateY(calc(-1 * (var(--bar-height) + var(--bar-spacer))));
}

.header__toggle span:nth-child(2) {
    transform: translateY(calc(var(--bar-height) + var(--bar-spacer)));
}

.header__toggle.is-active span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header__toggle.is-active span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.nav-is-active body {
    overflow: hidden;
}

.header {
    position: sticky;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: none;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
        @media screen and (max-width: $breakpoint-xs) {
            gap: 30px;
        }
    }
}

//Styles pour le bouton inscription
.bouton_inscription {
    background-color: var(--color-interactive);
    padding: 10px 28px;
    border-radius: 10px;
    transition: 0.3s;
    @media screen and (max-width: $breakpoint-xs) {
        display: none;
    }
}
.nav-primary .bouton_inscription a {
    transition: all 0.3s ease-out;

    color: var(--color-white);
}
.bouton_inscription:hover {
    opacity: 0.5;
    transition: 0.3s;
}

// Styles pour la barre de recherche

.search-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 12;
    @media screen and (max-width: $breakpoint-xs) {
        top: 100%;
        left: 50%;
    }
}

.search-bar.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Noir semi-transparent */
    backdrop-filter: blur(3px); /* Flou pour un effet plus moderne */
    z-index: 9; /* Derrière la search bar mais devant le reste */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

/* Quand la search bar est active, on affiche l'overlay */
.overlay.active {
    opacity: 1;
    visibility: visible;
}

// Style pour le logo

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 170px;
    object-fit: contain;
}

// Style pour les icones
.menu svg {
    transition: all 0.3s ease-out;
    transition: 0.2s;
}
.menu svg:hover {
    opacity: 70%;
}

// Style pour le menu ouvrant

.nav_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #252525;

    color: white;
    z-index: 1000;
    padding: 0 30px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out,
        clip-path 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    clip-path: circle(0% at 100% 0%);

    // Conserve vos breakpoints existants
    @media screen and (max-width: $breakpoint-md) {
        height: 70%;
        right: -100%;
        width: 100%;
    }

    @media screen and (max-width: $breakpoint-sm) {
        height: 100%;
        right: -100%;
        width: 100%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        height: 80%;
        right: -100%;
        width: 100%;
    }

    &.active {
        right: 0;
        clip-path: circle(150% at 100% 0%);
    }

    // Animation de fermeture inversée
    &:not(.active) {
        transition: right 1s ease-in-out 1s,
            clip-path 1s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-close {
        // Ajout d'une animation de fermeture
        transition: transform 1s, opacity 1s 0.5s;
    }

    img {
        height: fit-content;

        @media screen and (max-width: $breakpoint-md) {
            height: 100%;
        }

        @media screen and (max-width: $breakpoint-sm) {
            display: none;
        }
        @media screen and (max-width: $breakpoint-xs) {
            display: none;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr 1fr;

            align-items: center;
        }
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        @media screen and (max-width: $breakpoint-xs) {
            grid-template-columns: 1fr;
            gap: 0px;
        }
    }

    .content_menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @media screen and (max-width: $breakpoint-md) {
            margin: 0;
        }
        @media screen and (max-width: $breakpoint-sm) {
        }
        @media screen and (max-width: $breakpoint-xs) {
            margin: 0;
        }
    }
}

/* Quand le menu est actif */
.nav_menu.active {
    right: 0;
}

/* Style pour le fond assombri */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Empêcher le scroll */
body.no-scroll {
    overflow: hidden;
}

.menu-close {
    // Styles de positionnement
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    width: 35px;
    height: 35px;
    display: none;

    .close-circle {
        position: relative;
        width: 45px; // Taille du cercle
        height: 45px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all ease-in-out;

        &:hover {
            opacity: 0.9;
        }
    }

    // Montrer seulement quand le menu est actif
    .nav_menu.active & {
        display: block;
    }

    // Styles identiques au burger original
    span {
        position: absolute;
        background-color: white !important; // Même couleur que le X du burger
        width: 100%;
        height: 3px;
        border-radius: 3px;
        transition: 0.3s all ease-in-out;
        width: 60% !important; // Longueur des barres
        background-color: #252525 !important; // Couleur du X

        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }

    // Animation au hover
    &:hover span {
        opacity: 0.7;
    }
}

.menu_titres {
    width: fit-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    //gap: 20px;
    padding: 0;
    li {
        width: fit-content;
        margin-top: -20px;
    }
    a {
        transition: all 0.3s ease-out;
        font-size: var(--font-size-h3);
    }
    a:hover {
        transition: all 0.3s ease-out;
        color: var(--color-white);
        opacity: 50%;
    }

    @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 50px;
    }
    @media screen and (max-width: $breakpoint-sm) {
    }
    @media screen and (max-width: $breakpoint-xs) {
        margin-bottom: 50px;
    }
}
.menu_soustitres {
    width: fit-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    //gap: 20px;
    padding: 0;

    li {
        width: fit-content;
    }
    a {
        transition: all 0.3s ease-out;
        font-size: var(--font-size-h6);
        font-weight: 600;
    }
    a:hover {
        color: var(--color-white);
        opacity: 50%;
    }

    @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 50px;
    }
    @media screen and (max-width: $breakpoint-sm) {
    }
    @media screen and (max-width: $breakpoint-xs) {
        margin-bottom: 50px;
    }
}

.grid .btn_circled_menu {
    margin-bottom: 20px;

    color: var(--color-white);
    display: block;
    width: fit-content;
    position: relative;
    transition: all 0.3s ease-out;
    .icon {
        color: var(--color-interactive);
        width: 100%;
        //height: min-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(250%);
    }

    &:hover {
        color: var(--color-white);
        opacity: 50%;
    }
}

a.underline {
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease-out;
    &:hover {
        color: var(--color-white);
        opacity: 50%;
    }
}

.allignement_horizontal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 170px;
    color: var(--color-white);
    a {
        transition: all 0.3s ease-out;
    }
    a:hover {
        color: var(--color-white);
        opacity: 50%;
    }
}

.allignement_horizontal svg {
    display: none;
    @media screen and (max-width: $breakpoint-md) {
        display: block;
    }
    @media screen and (max-width: $breakpoint-sm) {
        display: block;
    }
    @media screen and (max-width: $breakpoint-xs) {
        display: block;
    }
}
