.hero {
    color: var(--color-white);
    position: relative;
    height: 80vh;
    margin: var(--spacing-md) 0;
    img.bgHero {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 100%;
        object-fit: cover;

        border-radius: 50px;
    }
    .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        gap: var(--spacing-lg);
        p {
            margin-bottom: var(--spacing-md);
        }
    }
}

.favoris {
    background-color: var(--color-white);
    color: var(--color-black);
}

.black {
    color: var(--color-white);
    background-color: var(--color-black);
}

.black2 {
    background-color: var(--color-bg-primary);
}

.etirement {
    div {
        height: 85vh;

        background-color: var(--color-white);
    }
    div:first-child {
        background-color: var(--color-black);
    }
}
