.hero {
    color: var(--color-white);
    position: relative;
    height: 100vh;
    margin: var(--spacing-md) 0;
    margin-top: -13%;
    @media screen and (max-width: $breakpoint-lg) {
        margin-top: -16%;
        @media screen and (max-width: $breakpoint-md) {
            margin-top: -18%;
            @media screen and (max-width: $breakpoint-md) {
                margin-top: -40%;
                @media screen and (max-width: $breakpoint-md) {
                    margin-top: -43%;
                }
            }
        }
    }
    // --- hero media --- //
    .hero__media,
    .bgHero {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }

    .hero__media {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0 50px 50px;
        //z-index: -1;
        overflow: hidden;
    }
    .bkg_filter {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0) 100%
        );
        z-index: 1;
    }
    // --- hero content --- //
    .wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        gap: var(--spacing-lg);
        p {
            margin-bottom: var(--spacing-md);
            width: 60%;
        }
        .hero_content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);
            width: 60%;
            @media screen and (max-width: $breakpoint-md) {
                width: 75%;
            }
        }
    }
    .bigTitle {
        span {
            position: relative;
            .icon {
                color: var(--color-interactive);
                position: absolute;
                bottom: -40%;
                left: 0;
                width: 100%;
            }
        }
    }
}

.header-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-black);
    height: 30vh;
    display: block;
}

.hero.block {
    height: auto;
    border-radius: 0 0 30px 30px;
    margin-top: 5%;
    overflow: hidden;
    gap: 0;
    position: relative;
    width: 100%;
    padding: 0;
    background-color: var(--color-black);

    .hero_content {
        display: grid;

        align-items: flex-end;
        .texte {
            padding: 5% 0;
            padding-left: 5%;
            max-width: 70%;
            display: grid;
            gap: 30px;
            h1 {
                text-transform: none;
            }
        }
        .hero-img {
            //max-height: 60%;

            overflow: hidden;
            height: 100%;
            width: 100%;

            img {
                width: 70%;
                // height: 80%;
                aspect-ratio: 1.3/1;
                object-fit: cover;
            }
        }
    }
    &.right {
        .hero_content {
            grid-template-columns: 4fr 3fr;
        }
        .hero-img {
            order: 2;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            img {
                border-radius: 30px 0 0 0;
            }
        }
    }

    &.left {
        .hero_content {
            grid-template-columns: 2fr 4fr;
        }
        .hero-img {
            order: -1;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            img {
                width: 100%;
                height: 100%;

                border-radius: 0 30px 0 0;
            }
        }
    }
}

// classes pour une option du hero

.left {
    .hero__content {
        order: 2;
    }
}

.right {
    .hero__content {
        order: -1;
    }
}

.hero.block.zero {
    grid-template-columns: 1fr;
    .texture {
        display: block;
    }
    .hero__content {
        padding-top: 10%;
    }

    .hero__media {
        display: none;
    }
}
