.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        position: relative;
        .icon {
            color: var(--color-interactive);
            position: absolute;
            bottom: -40%;
            left: 0;
            width: 100%;
        }
    }
}
.services .btn_full:hover {
    background-color: var(--color-interactive);
}

// ----- grid services ----- //
.grid-services {
    display: flex;
    gap: var(--spacing-md);
    @media screen and (max-width: $breakpoint-lg) {
        display: none;
    }
}
.service {
    flex: 1;
    transition: all 0.5s ease;
    height: 75vh;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    .service__media {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &::before {
            z-index: 1;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            backdrop-filter: blur(10px);
        }
    }
    .service__content {
        padding: var(--spacing-md);
        color: var(--color-white);
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: var(--spacing-md);
        height: 100%;
        width: 100%;
        h5 {
            text-align: center;
            font-weight: 700;
        }
        .more__content {
            display: flex;
            align-items: center;
            gap: var(--spacing-md);
            display: none;
            font-size: 20px;
        }
    }
    &:hover {
        flex-grow: 1.25;
        .service__media {
            &::before {
                display: none;
            }
        }
        .service__content {
            height: fit-content;
            justify-content: flex-end;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
        }
        .more__content {
            display: flex;
            flex-direction: row;
        }
    }
}

//=====================================================================CODE POUR LA PAGE DES SERVICES==============================================================================
.grid-produits {
    display: flex;
    gap: var(--spacing-md);
    @media screen and (max-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
    @media screen and (max-width: $breakpoint-sm) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
    @media screen and (max-width: $breakpoint-xs) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

.align_right .card_information {
    .infos__content {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        top: unset;
        align-items: flex-start;
        justify-content: center;
        order: -2;
        width: 100%;
        @media screen and (max-width: $breakpoint-md) {
            margin-left: 50px;
        }
        @media screen and (max-width: $breakpoint-sm) {
            margin: 0;
            order: 1;
        }
        @media screen and (max-width: $breakpoint-xs) {
            margin: 0;
            order: 1;
        }
    }
    .infos__media {
        order: 2;
        border-radius: 30px 0 0 30px;
        overflow: hidden;
        @media screen and (max-width: $breakpoint-sm) {
            position: static;

            height: 877px;
            border-radius: 30px 30px 30px 30px;
        }
        @media screen and (max-width: $breakpoint-xs) {
            position: static;

            height: 877px;
            height: 100%;
            border-radius: 30px 30px 30px 30px;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.service_no_hover {
    flex: 1;
    transition: all 0.5s ease;
    height: 75vh;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: $breakpoint-md) {
        height: 50vh;
    }
    @media screen and (max-width: $breakpoint-sm) {
        height: 50vh;
    }
    @media screen and (max-width: $breakpoint-xs) {
        height: 50vh;
    }
    &::before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 75%;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        backdrop-filter: blur(10px);
        @media screen and (max-width: $breakpoint-md) {
            top: 65%;
        }
        @media screen and (max-width: $breakpoint-sm) {
            top: 62%;
        }
        @media screen and (max-width: $breakpoint-xs) {
            top: 62%;
        }
    }
    .service__media {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .service__content {
        padding: var(--spacing-md);
        color: var(--color-white);
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: var(--spacing-md);
        height: 100%;
        width: 100%;
        @media screen and (max-width: $breakpoint-xs) {
            gap: var(--spacing-md);
        }

        h5 {
            font-weight: 700;
            text-align: center;

            @media screen and (max-width: $breakpoint-xs) {
                font-size: 25px;
            }
        }

        .content_more {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .btn_full {
                display: flex;
                align-items: center;
            }
            img {
                margin-right: 10px;
            }
            h4 {
                font-weight: 700;
            }
        }
    }
}

.service_background {
    background-color: var(--color-black);
    h2 {
        color: var(--color-white);
    }
}

.service_no_hover:hover {
    flex-grow: 1;
}
