/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-black);
    line-height: 1.6;
    background-color: var(--color-white);
    transition: all 0.3s ease-out;
    overflow-x: hidden;
}

section {
    padding: var(--spacing-xl) 0;
    border-radius: 50px;
    margin: 100px 0;
    @media screen and (max-width: $breakpoint-lg) {
        padding: 50px 0;
    }
}

.section-large {
    padding: 200px 0;

    border-radius: 50px;
    @media screen and (max-width: $breakpoint-lg) {
        padding: 100px 0;
    }
}

p {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    line-height: 1.15;
    font-weight: 400;
    //letter-spacing: 3%;
    margin: 0;
}
