/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-black);
    line-height: 1.6;
    background-color: var(--color-white);
}

section {
    padding: 60px 0;
}

p {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    line-height: 1.05;
    font-weight: 400;
    letter-spacing: 3%;
    margin: 0;
}
