/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-black);
    line-height: 1.4;
    background-color: var(--color-white);
    transition: all 0.3s ease-out;
    overflow-x: hidden;
    letter-spacing: 0.04em;
}

section {
    //padding: var(--spacing-xl) 0;
    border-radius: 50px;
    margin: var(--spacing-xl) 0;
    @media screen and (max-width: $breakpoint-lg) {
        margin: 50px 0;
    }
    background-color: var(--color-white);
}

.section-large {
    padding: 200px 0;
    @media screen and (max-width: $breakpoint-lg) {
        padding: var(--spacing-lg) 0;
    }
}

.section-color {
    margin: 0 1%;
    border-radius: var(--spacing-lg);
    padding: var(--spacing-xl) 0;
    @media screen and (max-width: $breakpoint-lg) {
        padding: var(--spacing-lg) 0;
        border-radius: 35px;
        @media screen and (max-width: $breakpoint-sm) {
            border-radius: 15px;
        }
    }
}

p {
    margin: 0;
}
