/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-lg) {
        padding: 0 var(--spacing-lg);
    }
}
