/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fdfffc;
    --color-black: #252525;

    // Couleurs du projet
    --color-primary: #40579b;
    --color-interactive: #86b455;
}
