/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fdfffc;
    --color-black: #252525;

    // Couleurs du projet
    --color-primary: #40579b;
    --color-secondary: #4286f4;
    --color-interactive: #86b455;
    --color-interactive-light: #b3ca9a;
    --color-inactive: #e9e9e9;
}
