/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    font-family: 'neue-haas-grotesk-display', sans-serif;

    --font-size-content: #{typo(16px, 25px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(35px, 110px)};
    --font-size-h2: #{typo(30px, 100px)};
    --font-size-h3: #{typo(20px, 80px)};
    --font-size-h4: #{typo(20px, 55px)};
    --font-size-h5: #{typo(35px)};
    --font-size-h6: #{typo(25px, 35px)};
}
