/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Bebas Neue', sans-serif;

    --font-size-content: #{typo(18px, 24px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(42px, 60px)};
    --font-size-h2: #{typo(28px, 35px)};
    // --font-size-h3: #{typo(28px, 42px)};
    // --font-size-h4: #{typo(28px, 42px)};
    // --font-size-h5: #{typo(28px, 42px)};
    // --font-size-h6: #{typo(28px, 42px)};
}
