{% include '_partials/_header.html' %}

<!-- BLOC HERO -->
<section class="hero block">
    <img class="texture" src="assets/images/filet.png" alt="filet" />
    <div class="hero__media">
        <img class="bgHero" src="assets/images/hero.png" alt="hero" />
    </div>
    <div class="hero__content">
        <h1>Deviens</h1>
        <h1>Entraineur</h1>
        <div class="underline">
            <svg class="icon icon--lg">
                <use xlink:href="#icon-doubleLigneDessin"></use>
            </svg>
        </div>
    </div>
</section>

<section class="bloc-article carrieres section-large">
    <div class="wrapper">
        <div class="grid-container">
            <div class="main-content">
                <div class="module module-header separator">
                    <h5>Entraîneur de badminton pour la saison 2024-2025</h5>
                    <div class="module-header-section">
                        <svg class="icon">
                            <use xlink:href="#icon-pin"></use>
                        </svg>
                        <p>Collège Ste-Anne situé au 50, 12e avenue, Lachine Qc H8S 3H6.</p>
                    </div>
                    <div class="module-header-section">
                        <svg class="icon">
                            <use xlink:href="#icon-cash"></use>
                        </svg>
                        <p>Très concurrentiel - défini selon une échelle salariale</p>
                    </div>
                    <!--<h5>Animateur de gymnases pour la saison 2024-2025</h5>
                    <div class="module-header-section">
                        <svg class="icon">
                            <use xlink:href="#icon-pin"></use>
                        </svg>
                        <p>Collège Ste-Anne situé au 50, 12e avenue, Lachine Qc H8S 3H6.</p>
                    </div>
                    <div class="module-header-section">
                        <svg class="icon">
                            <use xlink:href="#icon-cash"></use>
                        </svg>
                        <p>À partir de 17$/heure</p>
                    </div>-->
                </div>
                <div class="module extra-space">
                    <h5>Description de l’offre</h5>
                    <p>
                        Le Club Badminton Lachine est à la recherche de candidat.e.s pour compléter son équipe
                        d’entraineur.e.s pour l’année 2024-2025 (adulte, jeunesse et élite). Le Club regroupe des
                        joueurs adultes et jeunes de 6 à 17 ans divisés en différents niveaux (débutant, intermédiaire,
                        compétitif et élite). Les athlètes participent à plusieurs tournois des réseaux régional,
                        scolaire, provincial et national. L’outil pédagogique français, Plume, est utilisé par les
                        entraineur.e.s pour assurer la progression des athlètes. De l’encadrement pour les nouvelles
                        personnes employées ainsi que du budget de formation est disponible selon l’intérêt des
                        personnes.
                    </p>

                    <!--<h5>Description de l’offre</h5>
                    <ul>
                        <li>
                            <p>Préparer les gymnases avant l’arrivée des participants ;</p>
                        </li>
                        <li>
                            <p>Gérer l’utilisation des terrains et la rotation des joueurs ;</p>
                        </li>
                        <li>
                            <p>Accueillir les nouveaux membres et leur expliquer le fonctionnement des soirées ;</p>
                        </li>
                        <li>
                            <p>Accueillir les invités et procéder aux paiements.</p>
                        </li>
                    </ul>-->
                </div>
                <div class="module extra-space separator">
                    <h5>Exigences requises</h5>
                    <p>
                        <span>Planification et encadrement : </span>Capacité à créer une planification annuelle
                        intégrant les aspects techniques, physiques et mentaux (spécifique au groupe élite).
                    </p>
                    <p>
                        <span>Connaissances techniques : </span>Bonne connaissance des règles et du fonctionnement des
                        tournois. Niveau provincial en technique et stratégie de badminton (pour l’élite).
                    </p>
                    <p><span>Disponibilités :</span></p>
                    <ul>
                        <li>
                            <p>
                                <span>Tournois : </span>Samedis et dimanches, environ 5 par année (pour le groupe
                                élite).
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Entraînements : </span>1 soir par semaine pour les groupes adultes et jeunesse ; 2
                                à 3 soirs par semaine pour le groupe élite, de septembre à juin.
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Événements : </span>Participation à l’organisation de 2 tournois durant la saison,
                                dont une rencontre du circuit provincial de Badminton Québec.
                            </p>
                        </li>
                    </ul>
                    <p><span>Langues : </span>Français et anglais (fonctionnel)</p>
                    <p><span>Autres qualités recherchées : </span></p>
                    <ul>
                        <li><p>Fortes compétences relationnelles</p></li>
                        <li><p>Sens de l’organisation</p></li>
                        <li><p>Esprit d’équipe</p></li>
                        <li><p>Leadership</p></li>
                    </ul>
                    <p>
                        <span>Optionnel : </span>Détenir une certification en enseignement, animation ou coaching
                        (spécifique ou non au badminton).
                    </p>

                    <!--<h5>Exigences requises</h5>

                    <p><span>Âge : </span>16 ans et +</p>
                    <p>
                        <span></span>
                    </p>
                    <p><span>Connaissances des règles du badminton : </span>moyenne</p>
                    <p>
                        <span>Disponibilités : </span>en soirée, de septembre à décembre, et/ou de janvier à juin les : 
                    </p>
                    <ul>
                        <li>
                            <p>Mardis de 19:45 à 22:45 et/ou </p>
                        </li>
                        <li>
                            <p>Mercredis de 19:45 à 22:45 et/ou</p>
                        </li>
                        <li>
                            <p>Jeudis de 20:15 à 22:45 et/ou </p>
                        </li>
                        <li>
                            <p>Dimanches de 13:15 à 15:15.</p>
                        </li>
                    </ul>
                    <p>
                        Vous pouvez n’appliquer que pour une seule plage horaire si cela vous convient mieux.
                        Évidemment, il y aura toujours moyen de s’arranger si vous devez vous absenter à une des date(s)
                        précise(s).
                    </p>
                    <p><span>Langues : </span>Français et anglais (fonctionnel)</p>
                    <p><span>Autres qualités recherchées : </span></p>
                    <ul>
                        <li>Autonomie</li>
                        <li>Débrouillardise</li>
                        <li>Ponctualité</li>
                        <li>polyvalence</li>
                    </ul>
                    <p><span>Optionnel : </span>Une certification RCR</p>-->
                </div>
            </div>
            <div class="sidebar">
                <div class="module-side">
                    <h5>Qui sommes-nous?</h5>
                    <p>
                        Nous sommes un organisme à but non lucratif qui a comme objectif d’être un acteur majeur du
                        badminton à Montréal.
                    </p>
                    <a href="#" class="btn_full">
                        En savoir plus
                        <svg class="icon">
                            <use xlink:href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
                <div class="module-side">
                    <h5>Les avantages</h5>
                    <ul>
                        <li><p>Expérience enrichissante</p></li>
                        <li><p>Milieu dynamique</p></li>
                        <li><p>Développement personnel</p></li>
                        <li><p>Horaire flexible</p></li>
                        <li><p>Développement des compétences en gestion et communication</p></li>
                        <li><p>Travail d’équipe dans un environnement sportif</p></li>
                    </ul>
                </div>
                <div class="module-side">
                    <h5>Soumettre ma candiature par courriel</h5>
                    <p>Prière d’envoyer votre C. V. à Jean Bastien, coordonnateur général du club</p>
                    <a href="#">jean@badmintonlachine.com</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
