{% include '_partials/_header.html' %}
<section class="hero block">
    <img class="texture" src="assets/images/filet.png" alt="filet" />
    <div class="hero__media">
        <img class="bgHero" src="assets/images/hero.png" alt="hero" />
    </div>
    <div class="hero__content">
        <h1>Crédits</h1>
        <div class="underline">
            <svg class="icon icon--lg">
                <use xlink:href="#icon-doubleLigneDessin"></use>
            </svg>
        </div>
    </div>
</section>

<section>
    <div class="wrapper">
        <div class="projet_content">
            <section class="introduction">
                <div class="title">
                    <h2>
                        Les cré<span
                            >dits
                            <svg class="icon">
                                <use xlink:href="#icon-doubleLigneDessin"></use>
                            </svg>
                        </span>
                    </h2>
                </div>

                <div class="block_description">
                    <div class="content">
                        <div class="paragraphe">
                            <p>
                                Le projet de refonte du site web de Badminton Lachine a été réalisé dans le cadre d’un
                                projet scolaire au Cégep Édouard-Montpetit. Nous, l’équipe des QWERTY’S, avons travaillé
                                ensemble pour offrir une expérience utilisateur améliorée et un design moderne,
                                répondant aux besoins de l’association.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="block_description">
                    <div class="titre">
                        <h4><span>Membres de l’équipe :</span></h4>
                        <hr />
                    </div>
                    <div class="content">
                        <div class="paragraphe">
                            <ul>
                                <li>
                                    <span>Justin Valois</span> – Développeur web, responsable de l’intégration et de
                                    l'expérience utilisateur du site.
                                </li>
                                <li>
                                    <span>Emile Tardif</span> – Chef de projet, programmeur et responsable de la gestion
                                    back-end du site.
                                </li>
                                <li>
                                    <span>Mathys Gosselin </span> – Designer, en charge de la conception du design de la
                                    refonte des pages site.
                                </li>
                                <li>
                                    <span>Laurent Nadeau</span> – Intégrateur web, responsable de l'intégration du site
                                    web.
                                </li>
                            </ul>
                            <p>
                                Nous tenons à remercier Badminton-Lachine pour leur collaboration et leur confiance. Ce
                                projet a été une occasion d’appliquer nos compétences dans un environnement
                                professionnel tout en améliorant un site web existant pour une organisation locale.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
