{% include '_partials/_header.html' %}

<section class="bloc-article nouvelle section-large">
    <div class="wrapper">
        <div class="grid-container">
            <div class="main-content">
                <div class="module module-header">
                    <div class="sous-titre">
                        <h6>3 au 7 mars 2025</h6>
                        <h5 class="btn_full">Camps de jour</h5>
                    </div>
                    <h3>Camp de la semaine de rêlache</h3>
                    <img src="assets/images/hero.png" alt="" />
                </div>
                <div class="module extra-space">
                    <p>
                        Badminton Lachine organise un camp durant la semaine de relâche au centre sportif du Collège
                        Saint-Anne 50 12e avenue, Lachine, Gymnase 1 et 2. Ce camp s’adresse à tout le monde, avec ou
                        sans expérience en badminton.
                    </p>
                    <p>
                        <span>Volet récréatif :</span> axé sur la pratique du badminton pour le plaisir. Les activités
                        seront majoritairement liées au badminton, mais pas que (jeux de société, théâtre, bain libre,
                        glissades, etc.).
                    </p>
                </div>
                <div class="module extra-space">
                    <p>
                        <span>Volet compétitif :</span> axé sur l'entraînement de badminton. Les autres activités (jeux
                        de société, théâtre, bain libre, etc.) seront majoritairement facultatives pour les jeunes
                        inscrits dans ce volet.
                    </p>
                </div>
                <div class="module extra-space">
                    <div class="date">
                        <p>Dates : <span>3 au 7 mars 2025</span></p>
                    </div>
                    <div class="heure">
                        <p>Heures : <span>8h30 à 16h30</span></p>
                    </div>
                    <div class="prix">
                        <p>Prix : <span>200$</span></p>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <h4><span>Événement similaire</span></h4>

                <div class="cards-nouvelles">
                    <p class="btn_full tag">Divers</p>
                    <div class="card">
                        <div class="card__content">
                            <div class="text">
                                <h5>Lorem ipsumLorem ipsum</h5>
                                <p>Lorem ipsumLorem ipsum</p>
                            </div>
                            <a class="btn_full btn_round" href="#">
                                <svg class="icon">
                                    <use xlink:href="#icon-fleche"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="card__media">
                            <img src="assets/images/nouvelles.jpg" alt="image de la nouvelle" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section doublePush">
    <div class="wrapper">
        <div>
            <h3>Lorem</h3>
            <h3>ipsum</h3>
        </div>

        <div class="tiles">
            <a href="#" class="tile">
                <div class="title">
                    <h3>bacon</h3>
                    <h3>ipsum</h3>
                </div>
                <svg class="icon btn_circled btn_round btn_white">
                    <use xlink:href="#icon-fleche"></use>
                </svg>
            </a>
            <a href="#" class="tile">
                <div class="title">
                    <h3>lorent</h3>
                    <h3>ipsum</h3>
                </div>
                <svg class="icon btn_circled btn_round btn_white">
                    <use xlink:href="#icon-fleche"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
