{% include '_partials/_header.html' %}

<section class="hero block">
    <img class="texture" src="assets/images/filet.png" alt="filet" />
    <div class="hero__media">
        <img class="bgHero" src="assets/images/hero.png" alt="hero" />
    </div>
    <div class="hero__content">
        <h1>À propos</h1>
        <div class="underline">
            <svg class="icon icon--lg">
                <use xlink:href="#icon-doubleLigneDessin"></use>
            </svg>
        </div>
    </div>
</section>

<section class="section partners">
    <div class="wrapper">
        <div
            class="swiper js-swiper-partenaire"
            data-component="Carousel"
            data-autoplay
            data-loop
            data-freemode
            data-centered
        >
            <div class="bkg_filter"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-conseilSportMontreal"></use>
                    </svg>
                </div>
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-doMore"></use>
                    </svg>
                </div>
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-badmintonQuebec"></use>
                    </svg>
                </div>
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-lachineMontreal"></use>
                    </svg>
                </div>
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-conseilSportMontreal"></use>
                    </svg>
                </div>
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-doMore"></use>
                    </svg>
                </div>
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-badmintonQuebec"></use>
                    </svg>
                </div>
                <div class="swiper-slide icon--lg">
                    <svg class="icon">
                        <use xlink:href="#icon-lachineMontreal"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="missions">
    <div class="wrapper">
        <div class="title">
            <h2>
                mis<span
                    >sions
                    <svg class="icon">
                        <use xlink:href="#icon-tripleLigneDessin"></use>
                    </svg>
                </span>
            </h2>
        </div>

        <div class="missions_grid">
            <div class="mission">
                <h1>1</h1>
                <h4>Promotion</h4>
                <p>
                    Promouvoir le badminton auprès des personnes résidentes de Lachine et des environs en proposant des
                    programmes et des activités accessibles à tous.
                </p>
            </div>
            <div class="mission">
                <h1>2</h1>
                <h4>Accessibilité</h4>
                <p>Permettre l’accès facile au sport à tous les groupes d’âge et dans de bonnes conditions.</p>
            </div>
            <div class="mission">
                <h1>3</h1>
                <h4>Développement</h4>
                <p>
                    Participer au développement éducatif et sportif des enfants de Lachine et des environs par
                    l’intermédiaire du sport.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="valeurs">
    <div class="wrapper">
        <div class="title">
            <h2>
                va<span
                    >leurs
                    <svg class="icon">
                        <use xlink:href="#icon-tripleLigneDessin"></use>
                    </svg>
                </span>
            </h2>
        </div>

        <div class="text-list texte">
            <div class="titre">
                <h4>Respect</h4>
                <hr />
            </div>
            <div class="content">
                <div class="paragraphe">
                    <p>
                        Le Club s’engage à inciter les personnes impliquées de près ou de loin dans l’organisme à
                        traiter avec égard et considération toutes les personnes qu’elles côtoieront, à respecter les
                        équipements et à accepter les décisions de Badminton Lachine.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-list texte">
            <div class="titre">
                <h4>Éthique</h4>
                <hr />
            </div>
            <div class="content">
                <div class="paragraphe">
                    <p>
                        Les personnes impliquées dans le Club doivent respecter les principes, les valeurs et le code de
                        conduite de Badminton Lachine et de la communauté sportive qui comprennent l’ensemble des
                        acteur.rice.s du badminton.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-list texte">
            <div class="titre">
                <h4>Partage</h4>
                <hr />
            </div>
            <div class="content">
                <div class="paragraphe">
                    <p>
                        Les membres du Club doivent partager les ressources et leurs connaissances pour soutenir les
                        objectifs de Badminton Lachine, en privilégiant l’évolution des projets avant les intérêts
                        personnels.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-list texte">
            <div class="titre">
                <h4>Accessibilité</h4>
                <hr />
            </div>
            <div class="content">
                <div class="paragraphe">
                    <p>
                        Le Club s’engage à rendre ses activités accessibles à toutes les personnes sans aucune
                        discrimination, quelle qu’elle soit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="historique">
    <div class="wrapper">
        <div class="title">
            <h2>
                histo<span
                    >rique
                    <svg class="icon">
                        <use xlink:href="#icon-tripleLigneDessin"></use>
                    </svg>
                </span>
            </h2>
        </div>
        <div class="zone-liens">
            <div class="accordion" data-component="Accordeon" data-closing>
                <div class="grid-accordion">
                    <div class="accordion__container">
                        <div class="accordion__header">
                            <h4>Sauvetage du badminton à Lachine</h4>
                            <div class="header__icons">
                                <svg class="icon icon--sm icon-open">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                <svg class="icon icon--sm icon-close">
                                    <use xlink:href="#icon-moins"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="accordion__content">
                            <hr />
                            <p>
                                En septembre 2010, Stéphane Fortaich, Lachinois et bénévole de grand cœur, a pris la
                                relève de l’organisation du badminton pour les citoyens de Lachine, sport qui était à
                                risque d’extinction.  Peu à peu pendant la saison, des joueurs ont contacté Stéphane car
                                ils étaient sensibles à la pérennité de leur sport. C’est alors que les premiers membres
                                du conseil d’administration ont été réunis : René Breyel, Vickel Coossa, Steve Gagné,
                                Stéphane Fortaich et Julie Bérubé.
                            </p>
                        </div>
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__header">
                            <h4>Création officielle du club en 2011</h4>
                            <div class="header__icons">
                                <svg class="icon icon--sm icon-open">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                <svg class="icon icon--sm icon-close">
                                    <use xlink:href="#icon-moins"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="accordion__content">
                            <hr />
                            <p>
                                Les principales industries de la MRC de Baie Ste-Catherine sont la pêche, le transport
                                maritime, le tourisme et l'agriculture.
                            </p>
                        </div>
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__header">
                            <h4>La classique de Badminton Lachine</h4>
                            <div class="header__icons">
                                <svg class="icon icon--sm icon-open">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                <svg class="icon icon--sm icon-close">
                                    <use xlink:href="#icon-moins"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="accordion__content">
                            <hr />
                            <p>
                                Selon le recensement de 2016, la population de la MRC de Baie Ste-Catherine est de 3 229
                                habitants.
                            </p>
                        </div>
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__header">
                            <h4>Structuration des entraînements</h4>
                            <div class="header__icons">
                                <svg class="icon icon--sm icon-open">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                <svg class="icon icon--sm icon-close">
                                    <use xlink:href="#icon-moins"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="accordion__content">
                            <hr />
                            <p>
                                La MRC de Baie Ste-Catherine est connue pour sa proximité avec les baleines, ce qui en
                                fait une destination populaire pour les excursions d'observation des baleines. Elle
                                compte également de nombreux sentiers de randonnée, des plages, des musées et des
                                festivals tout au long de l'année.
                            </p>
                        </div>
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__header">
                            <h4>Encadrement des adultes</h4>
                            <div class="header__icons">
                                <svg class="icon icon--sm icon-open">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                <svg class="icon icon--sm icon-close">
                                    <use xlink:href="#icon-moins"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="accordion__content">
                            <hr />
                            <p>
                                La MRC de Baie Ste-Catherine offre une gamme de services à ses citoyens, notamment des
                                services de gestion des déchets, des services de protection contre les incendies, des
                                services de développement économique et touristique et des services de transport en
                                commun.
                            </p>
                        </div>
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__header">
                            <h4>Implication du club aux Jeux du Québec</h4>
                            <div class="header__icons">
                                <svg class="icon icon--sm icon-open">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                <svg class="icon icon--sm icon-close">
                                    <use xlink:href="#icon-moins"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="accordion__content">
                            <hr />
                            <p>
                                La MRC de Baie Ste-Catherine organise plusieurs événements tout au long de l'année, tels
                                que la Fête de la pêche, la Journée internationale des femmes, la Fête de la musique et
                                le Tournoi de hockey Baie Ste-Catherine.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="informations">
    <div class="wrapper">
        <div class="card_information">
            <div class="infos__media">
                <img src="assets/images/hero.png" alt="image d'informations" />
            </div>
            <div class="infos__content">
                <h3>Notre projet associatif</h3>
                <p>
                    Notre projet associatif propose une nouvelle vision du milieu associatif, un engagement possible sur
                    l’ensemble des activités de l’Association afin de créer un sentiment d’appartenance, du partage et
                    du social entre nos membres.
                </p>
                <a href="#" class="btn_full">En savoir plus</a>
            </div>
        </div>
        <div class="card_information">
            <div class="infos__media">
                <img src="assets/images/hero.png" alt="image d'informations" />
            </div>
            <div class="infos__content light">
                <h3>Rapport annuel</h3>
                <h3>2023-2024</h3>
                <p>
                    Cette saison 2023-2024 aura été marquée par de belles réalisations pour Badminton Lachine. Grâce à
                    l’engagement de notre conseil d’administrations, de nos employé.e.s, de nos bénévoles et surtout, de
                    nos membres, nous avons pu, encore une fois, offrir un environnement accueillant et stimulant pour
                    les badistes de la région, que ce soit pour les jeunes ou les adultes, compétitifs ou récréatifs.
                </p>

                <a href="#" class="btn_full">Télécharger le pdf</a>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
