{% include '_partials/_header.html' %}

<section class="hero">
    <img class="bgHero" src="assets/images/heroAccueil.jpg" alt="" />
    <div class="wrapper">
        <div class="bigTitle">
            <h1>Le badminton,</h1>
            <h1>notre passion</h1>
        </div>
        <div class="hero_content">
            <p>Fier d’être la plus grande institution de <br />badminton sur l’île de Montréal depuis 2011!</p>
            <a class="btn_circled" href="#"
                >inscrivez-vous
                <svg class="icon">
                    <use xlink:href="#icon-ovalDessin"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="favoris">
    <div class="wrapper">
        <h2>Titre de la section</h2>
        <p>
            Pourquoi ce site existe ??? Pourquoi ce site existe ??? Pourquoi ce site existe ??? Pourquoi ce site existe
            ??? Pourquoi ce site existe ??? Pourquoi ce site existe ??? Pourquoi ce site existe ???
        </p>
        <div class="cards">
            <a href="#">
                <div class="card">
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="img__card" />
                    </div>
                    <div class="card__content">
                        <h3>Titre</h3>
                        <p>Résumé résumé résumé résumé résumé résumé résumé résumé</p>
                        <p class="category">catégorie</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <div class="card__media">
                        <img src="assets/images/hero.png" alt="img__card" />
                    </div>
                    <div class="card__content">
                        <h3>Titre</h3>
                        <p>Résumé résumé résumé résumé résumé résumé résumé résumé</p>
                        <p class="category">catégorie</p>
                    </div>
                </div>
            </a>
        </div>
        <a href="#" class="bouton">Un bouton</a>
    </div>
</section>

{% include '_partials/_footer.html' %}
