{% include '_partials/_header.html' %}

<section class="hero block">
    <img class="texture" src="assets/images/filet.png" alt="filet" />
    <div class="hero__media">
        <img class="bgHero" src="assets/images/hero.png" alt="hero" />
    </div>
    <div class="hero__content">
        <h1>Nouvelles</h1>
        <div class="underline">
            <svg class="icon icon--lg">
                <use xlink:href="#icon-doubleLigneDessin"></use>
            </svg>
        </div>
    </div>
</section>

<section class="cards-category" id="tabs" data-component="Tabs">
    <div class="wrapper">
        <!-- boucle du custom post type choisi -->

        <div class="top">
            <div class="title">
                <h3>Actualités</h3>
                <div class="underline">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-tripleLigneDessin"></use>
                    </svg>
                </div>
            </div>

            <!-- boucle des categories du custom post type choisis -->
            <nav>
                <ul>
                    <li>
                        <a class="btn_circled" data-tab-open="global">
                            Tout
                            <svg class="icon">
                                <use xlink:href="#icon-cercleDessin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="btn_circled active" data-tab-open="jeunes">
                            Jeunes
                            <svg class="icon">
                                <use xlink:href="#icon-cercleDessin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="btn_circled" data-tab-open="adultes">
                            Adultes
                            <svg class="icon">
                                <use xlink:href="#icon-cercleDessin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="btn_circled" data-tab-open="familial">
                            Familial
                            <svg class="icon">
                                <use xlink:href="#icon-cercleDessin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- boucle des category  -->

        <!-- while -->

        <!-- boucle des custom post type -->
        <!-- avec le parametre de la category -->
        <!-- if -->
        <div class="cards news" data-tab-container="jeunes">
            <div class="card news first">
                <div class="card__content">
                    <h5>Gala de la reconnaissance</h5>
                    <a class="btn_full" href="#">
                        <svg class="icon">
                            <use xlink:href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de la nouvelle" />
                </div>
            </div>
            <div class="grid">
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <!-- option de soit prix (donc prix + texte) ou juste texte et là c'est que le gros -->
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
            </div>
            <!-- while -->
        </div>
        <div class="cards active" data-tab-container="adultes">
            <div class="card news first">
                <div class="card__content">
                    <h5>Gala de la reconnaissance</h5>
                    <a class="btn_full" href="#">
                        <svg class="icon">
                            <use xlink:href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de la nouvelle" />
                </div>
            </div>
            <div class="grid">
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - adulte</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <!-- option de soit prix (donc prix + texte) ou juste texte et là c'est que le gros -->
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
            </div>
            <!-- while -->
        </div>
        <div class="cards" data-tab-container="familial">
            <div class="card news first">
                <div class="card__content">
                    <h5>Gala de la reconnaissance</h5>
                    <a class="btn_full" href="#">
                        <svg class="icon">
                            <use xlink:href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de la nouvelle" />
                </div>
            </div>
            <div class="grid">
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - familial</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <!-- option de soit prix (donc prix + texte) ou juste texte et là c'est que le gros -->
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <h5>Débutant I - Jeune</h5>
                        <p>Initiation aux bases</p>
                        <div class="prices">
                            <div class="price">
                                <p class="price">115$</p>
                                <p>Session d'automne</p>
                            </div>
                            <div class="price">
                                <p class="price">140$</p>
                                <p>Session d'hiver</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__bottom">
                        <p class="details">Détails</p>
                        <div class="details">
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Débit/Crédit Seulement</p>
                            </div>
                            <div class="detail">
                                <div class="i">
                                    <svg class="icon icon--xs">
                                        <use xlink:href="#icon-i"></use>
                                    </svg>
                                </div>
                                <p>Invités non permis</p>
                            </div>
                        </div>

                        <a href="#" class="btn_full">voir l'horaire</a>
                    </div>
                </div>
                <div class="card news">
                    <div class="card__content">
                        <h5>Gala de la reconnaissance</h5>
                        <a class="btn_full" href="#">
                            <svg class="icon">
                                <use xlink:href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/card.png" alt="image de la nouvelle" />
                    </div>
                </div>
            </div>
            <!-- while -->
        </div>
    </div>
</section>

<section class="push">
    <div class="wrapper">
        <div class="push_content">
            <div class="titre">
                <h4>Rejoignez notre équipe !</h4>
                <div class="underline">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-ligneDessin"></use>
                    </svg>
                </div>
            </div>
            <p>
                Le Club Badminton Lachine est à la recherche de candidats pour compléter son équipe. Vous trouverez sur
                cette page les opportunités d’emploi chez Badminton Lachine.
            </p>
            <a href="#" class="btn_full">Voir plus</a>
        </div>
        <div class="push_media">
            <img src="assets/images/hero.png" alt="hero" />
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
