{% include '_partials/_header.html' %}

<section class="search">
    <div class="wrapper">
        <h5>Résultats de recherche pour : Patate</h5>
        {% include '_partials/_search.html' %}
        <p class="resultes">2 résultats</p>
        <div class="search_results">
            <div class="search_result">
                <div class="result__media">
                    <img src="assets/images/hero.png" alt="img result" />
                </div>
                <div class="result__content">
                    <p class="category">Emploi</p>
                    <h5>Deviens entraîneur</h5>
                    <p>
                        Le club de badminton de Lachine est présentement à la recherche de personnes intéressées pour
                        occuper des postes d’entraîneurs de badminton pendant la saison 2024-2025.
                    </p>
                </div>
            </div>
            <div class="search_result">
                <div class="result__media">
                    <img src="assets/images/image_menu.jpg" alt="img result" />
                </div>
                <div class="result__content">
                    <p class="category">Emploi</p>
                    <h5>Deviens animateur</h5>
                    <p>
                        Le club de badminton de Lachine est présentement à la recherche de personnes intéressées pour
                        occuper des postes d’entraîneurs de badminton pendant la saison 2024-2025.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
