{% include '_partials/_header.html' %}

<!-- BLOC HERO -->
<section class="hero block">
    <img class="texture" src="assets/images/filet.png" alt="filet" />
    <div class="hero__media">
        <img class="bgHero" src="assets/images/hero.png" alt="hero" />
    </div>
    <div class="hero__content">
        <h1>Cordage de raquettes</h1>
        <div class="underline">
            <svg class="icon icon--lg">
                <use xlink:href="#icon-doubleLigneDessin"></use>
            </svg>
        </div>
    </div>
</section>

<section class="bloc-article service-single section-large">
    <div class="wrapper">
        <div class="grid-container">
            <div class="main-content">
                <div class="module module-header separator">
                    <h5>Cordage de raquette</h5>
                    <div class="module-header-section">
                        <svg class="icon">
                            <use xlink:href="#icon-pin"></use>
                        </svg>
                        <p>Collège Ste-Anne situé au 50, 12e avenue, Lachine Qc H8S 3H6.</p>
                    </div>
                    <div class="module-header-section">
                        <svg class="icon">
                            <use xlink:href="#icon-cash"></use>
                        </svg>
                        <p>18$ - 26$</p>
                    </div>
                </div>
                <div class="module extra-space separator product">
                    <div class="product__media">
                        <img src="assets/images/hero.png" alt="image produit" />
                    </div>
                    <div class="product__content">
                        <h6>Options</h6>
                        <div class="content-module">
                            <p><span>Type de cordage</span></p>
                            <div class="champSelect">
                                <select name="options" class="btn_full">
                                    <option value="" selected disabled>Choisir une option</option>
                                    <option value="option1">Option 1</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                    <option value="option4">Option 5</option>
                                </select>
                                <div class="icone">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-fleche"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="content-module">
                            <p><span>Type de cordage</span></p>
                            <div class="champSelect">
                                <select name="options" class="btn_full">
                                    <option value="" selected disabled>Choisir une option</option>
                                    <option value="option1">Option 1</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                    <option value="option4">Option 5</option>
                                </select>
                                <div class="icone">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-fleche"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="content-module">
                            <p><span>Type de cordage</span></p>
                            <div class="champSelect">
                                <select name="options" class="btn_full">
                                    <option value="" selected disabled>Choisir une option</option>
                                    <option value="option1">Option 1</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                    <option value="option4">Option 5</option>
                                </select>
                                <div class="icone">
                                    <svg class="icon icon--sm">
                                        <use xlink:href="#icon-fleche"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="content-module">
                            <p><span>Marque de raquette</span></p>
                            <input class="champTexte" type="text" name="nom" />
                        </div>
                        <div class="content-module">
                            <p><span>Marque de raquette</span></p>
                            <input class="champTexte" type="text" id="nom" name="nom" />
                        </div>
                        <div class="content-module">
                            <p><span>Marque de raquette</span></p>
                            <input class="champTexte" type="text" id="nom" name="nom" />
                        </div>
                        <div class="content-module acheter">
                            <a class="btn_full" href="#"
                                ><svg class="icon">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                Ajouter au panier
                            </a>
                            <a class="bnt_full panier" href="#"
                                ><svg class="icon">
                                    <use xlink:href="#icon-panier"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="module extra-space carateristics">
                    <h6>Spécificités pour le produit</h6>
                    <div class="caracteristics-list">
                        <div class="caracteristic">
                            <p><span>Cordage générique :</span></p>
                            <ul>
                                <li><p>Sans marque (NBG95)</p></li>
                                <li><p>0.69 mm / 22 GA</p></li>
                                <li><p>Medium Feeling – Durability</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li>
                                    <p><span>22$</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="caracteristic">
                            <p><span>Cordage générique :</span></p>
                            <ul>
                                <li><p>Sans marque (NBG95)</p></li>
                                <li><p>0.69 mm / 22 GA</p></li>
                                <li><p>Medium Feeling – Durability</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li>
                                    <p><span>22$</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="caracteristic">
                            <p><span>Cordage générique :</span></p>
                            <ul>
                                <li><p>Sans marque (NBG95)</p></li>
                                <li><p>0.69 mm / 22 GA</p></li>
                                <li><p>Medium Feeling – Durability</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li>
                                    <p><span>22$</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="caracteristic">
                            <p><span>Cordage générique :</span></p>
                            <ul>
                                <li><p>Sans marque (NBG95)</p></li>
                                <li><p>0.69 mm / 22 GA</p></li>
                                <li><p>Medium Feeling – Durability</p></li>
                                <li><p>Couleur : Jaune ou Doré</p></li>
                                <li><p>Bonsoir</p></li>
                                <li><p>Bonsoir</p></li>
                                <li><p>Bonsoir</p></li>
                                <li><p>Bonsoir</p></li>
                                <li>
                                    <p><span>22$</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="module-side">
                    <h6>Description du service</h6>
                    <p>
                        Vous pouvez déposer la raquette à corder le soir de votre entraînement, à l’animateur de
                        gymnase, ou directement à René, notre cordeur présent sur place les lundi et vendredi soirs.
                    </p>
                    <p>
                         Vous disposez d’une semaine pour effectuer le paiement en ligne. Votre raquette cordée à neuf
                        vous sera remise la semaine d’après, au début de votre session d’entrainement (veuillez
                        présenter le reçu de paiement).
                    </p>
                </div>
                <div class="module-side">
                    <h6>Procédures</h6>
                    <ul>
                        <li>
                            <p>
                                Déposer votre raquette auprès de l’animateur de la soirée ou directement au cordeur. Une
                                étiquette avec un numéro identifiant votre raquette vous sera remise.
                            </p>
                        </li>
                        <li><p>Faire le paiement en ligne au maximum 1 semaine après le dépôt de la raquette</p></li>
                        <li>
                            <p>
                                Remise de la raquette cordée à neuf 1 semaine après le dépôt. Le reçu de paiement sera
                                demandé pour la remise. 
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="module-side">
                    <h6>Dégagement de responsabilité </h6>
                    <p>
                        Étant donné la tension élevée appliquée sur les raquettes de badminton lors du processus de
                        cordage, Badminton Lachine se dégage de toute responsabilité en cas de bris du cadre lors de
                        cette manipulation. Il est de la responsabilité du client de s’assurer que la tension demandée
                        respecte les limites recommandées par le manufacturier. Toute raquette endommagée ou dont le
                        cadre montre des marques visibles de chocs pourra être refusée par le cordeur. Nous vous
                        informerons alors de la situation et l’achat vous sera remboursé.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
