{% include '_partials/_header.html' %}

<section class="hero block">
    <img class="texture" src="assets/images/filet.png" alt="filet" />
    <div class="hero__media">
        <img class="bgHero" src="assets/images/hero.png" alt="hero" />
    </div>
    <div class="hero__content">
        <h1>Services</h1>
        <div class="underline">
            <svg class="icon icon--lg">
                <use xlink:href="#icon-doubleLigneDessin"></use>
            </svg>
        </div>
    </div>
</section>

<section class="informations">
    <div class="informations right">
        <div class="infos__media">
            <img src="assets/images/hero.png" alt="image d'informations" />
        </div>
        <div class="infos__content">
            <p class="category">Événement</p>
            <h3>Faire un don à l’organisme - Statique</h3>
            <ul class="details">
                <li>3 au 7 mars 2025</li>
                <span class="circle"></span>
                <li>8h30 à 16h30</li>
                <span class="circle"></span>
                <li>200$</li>
            </ul>
            <p>
                Merci à nos généreux donateurs qui souhaitent supporter notre Club et nous aider à promouvoir l’activité
                sportive chez les jeunes et les adultes par la pratique et l’éducation du Badminton.
            </p>
            <a href="#" class="btn_full">Faire un don</a>
        </div>
    </div>
</section>

<section class="loop-infos altern">
    <div class="informations">
        <div class="infos__media">
            <img src="assets/images/hero.png" alt="image d'informations" />
        </div>
        <div class="infos__content">
            <p class="category">Événement</p>
            <h3>Faire un don à l’organisme Statique</h3>
            <ul class="details">
                <li>3 au 7 mars 2025</li>
                <span class="circle"></span>
                <li>8h30 à 16h30</li>
                <span class="circle"></span>
                <li>200$</li>
            </ul>
            <p>
                Merci à nos généreux donateurs qui souhaitent supporter notre Club et nous aider à promouvoir l’activité
                sportive chez les jeunes et les adultes par la pratique et l’éducation du Badminton.
            </p>
            <a href="#" class="btn_full">Faire un don</a>
        </div>
    </div>
    <div class="informations">
        <div class="infos__media">
            <img src="assets/images/hero.png" alt="image d'informations" />
        </div>
        <div class="infos__content">
            <p class="category">Événement</p>
            <h3>Faire un don à l’organisme Statique</h3>
            <ul class="details">
                <li>3 au 7 mars 2025</li>
                <span class="circle"></span>
                <li>8h30 à 16h30</li>
                <span class="circle"></span>
                <li>200$</li>
            </ul>
            <p>
                Merci à nos généreux donateurs qui souhaitent supporter notre Club et nous aider à promouvoir l’activité
                sportive chez les jeunes et les adultes par la pratique et l’éducation du Badminton.
            </p>
            <a href="#" class="btn_full">Faire un don</a>
        </div>
    </div>
</section>

<section class="section services">
    <div class="wrapper">
        <div class="title">
            <h2>
                ENTRAÎNE<span
                    >ments
                    <svg class="icon">
                        <use xlink:href="#icon-tripleLigneDessin"></use>
                    </svg>
                </span>
            </h2>
        </div>
        <div class="grid-services">
            <div class="service">
                <div class="service__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                </div>
                <div class="service__content">
                    <h5>ENTRAÎNEMENT LIBRE</h5>
                    <div class="more__content">
                        <a class="btn_full btn_white" href="#">En savoir plus </a>
                    </div>
                </div>
            </div>
            <div class="service">
                <div class="service__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                </div>
                <div class="service__content">
                    <h5>ENTRAÎNEMENTS DE GROUPES</h5>
                    <div class="more__content">
                        <a class="btn_full btn_white" href="#">En savoir plus </a>
                    </div>
                </div>
            </div>
            <div class="service">
                <div class="service__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                </div>
                <div class="service__content">
                    <h5>ENTRAÎNEMENTS PRIVÉS</h5>
                    <div class="more__content">
                        <a class="btn_full btn_white" href="#">En savoir plus </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="swiper carousel-services js-swiper-accueilServices"
        data-component="Carousel"
        data-loop
        data-centered
        data-coverflow
    >
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="service">
                    <div class="service__media">
                        <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                    </div>
                    <div class="service__content">
                        <h5>Entraînement libres</h5>
                        <div class="more__content">
                            <a class="btn_full btn_white" href="#">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="service">
                    <div class="service__media">
                        <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                    </div>
                    <div class="service__content">
                        <h5>Entraînement libres</h5>
                        <div class="more__content">
                            <a class="btn_full btn_white" href="#">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="service">
                    <div class="service__media">
                        <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                    </div>
                    <div class="service__content">
                        <h5>Entraînement libres</h5>
                        <div class="more__content">
                            <a class="btn_full btn_white" href="#">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="service">
                    <div class="service__media">
                        <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                    </div>
                    <div class="service__content">
                        <h5>Entraînement libres</h5>
                        <div class="more__content">
                            <a class="btn_full btn_white" href="#">En savoir plus </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <a class="btn_full btn_bottom" href="#"
            >Voir tout
            <svg class="icon">
                <use xlink:href="#icon-fleche"></use>
            </svg>
        </a>
    </div>
</section>

<section class="section services service_background">
    <div class="wrapper">
        <div class="title">
            <h2>
                Nos abonn<span
                    >ements
                    <svg class="icon">
                        <use xlink:href="#icon-tripleLigneDessin"></use>
                    </svg>
                </span>
            </h2>
        </div>
        <div class="grid-produits">
            <div class="service_no_hover">
                <div class="service__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                </div>
                <div class="service__content">
                    <h5>Entrée partenaire élite</h5>
                    <div class="content_more">
                        <a class="btn_full btn_white" href="#"
                            ><img src="assets/icons/plus.png" alt="plus" /> Ajouter au panier
                        </a>
                        <h4>20$</h4>
                    </div>
                </div>
            </div>
            <div class="service_no_hover">
                <div class="service__media">
                    <img src="assets/images/cordageAccueilServices.jpg" alt="image de raquettes" />
                </div>
                <div class="service__content">
                    <h5>Interclub membership</h5>
                    <div class="content_more">
                        <a class="btn_full btn_white" href="#"
                            ><img src="assets/icons/plus.png" alt="plus" /> Ajouter au panier
                        </a>
                        <h4>50$</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrapper">
        <div class="lien-contact">
            <div class="lien-contact__content">
                <h4>Besoin d'info</h4>
                <h2>parlons-en!</h2>
            </div>
            <div class="lien-contact__media"></div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
