{% include '_partials/_header.html' %}

<section class="hero block zero">
    <div class="hero_content">
        <div class="texte">
            <h1>Nouvelles d'actualité</h1>
            <p>
                Découvrez nos dernières nouvelles et actualités. Restez informé sur tout ce qui fait vibrer le badminton
                à Lachine.
            </p>
        </div>
    </div>
</section>

<section class="index">
    <div class="wrapper">
        <h3 style="text-align: center">Il n'y a pas de page destinée à ce contenu.</h3>
    </div>
</section>

{% include '_partials/_footer.html' %}
